* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    height: 100vh;
    width: 100vw;
    background-image: url(assets/logo/fondpuissance4.png);
    background-size: cover;
}

.navbar {
    position: absolute;
    margin: 50px;
    display: flex;
    

}