body {
    position:fixed;
    font-family: Arial, sans-serif;
    background-image: url(assets/background/fondbleu.png);
    background-size: cover;
    background-position: center;           
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.logo img {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 100px;
    width: auto;
    z-index: 10;
}
.navbar {
    justify-content: center;
   margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;

}

.navbar .nav-links ul {
    display: flex;
    list-style: none;
}

.navbar .nav-links ul li {
   margin: 0 25px;
}
.navbar a {
 text-decoration: none;
    background-color: #0077cc;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;


}

.navbar .nav-links ul li.active a {
   color: #ed3c57;
}

h1, p {
  text-align: center;
  color: #333;
  margin-top: 160px;
}
.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
 
}
.grille {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0055aa;
  padding: 10px;
  border-radius: 15px;
  box-shadow: inset 0 0 6px #003366, 0 0 10px rgba(0, 0, 0, 0.3);
  border: 3px solid #003366;
  width: fit-content;
  margin: 0 auto;
  max-height: 400px;
  overflow:hidden;
  
}

.colonnes {
  display: grid;
  grid-template-columns: repeat(7, 80px);
  gap: 8px;
  margin-bottom: 10px;
}
.column-button
.drop-btn {
  background-color: #ffd700;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
box-shadow: 0 4px 6px rgba(0,0,0,0.2);
transition: transform 0.2s ease, background-color 0.3s ease;
}
.column-button:hover,
.drop-btn:hover {
  background-color: #ffb700;
  transform: scale(1.1);
}


.row {
  display: grid;
  grid-template-columns: repeat(7, 60px);
  gap: 30px
}
.plateau {
  display: grid;
  grid-template-columns: repeat(7, 80px);
  grid-template-rows: repeat(6, 80px);
  gap: 8px;
}

.cell {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}



.cell.p1 {
    background-color: red;
}

.cell.p2 {
    background-color: yellow;
}


.case {
  width: 80px;
  height: 80px;
  background: radial-gradient(circle at center, #f0f0f0 60%, #ccc 100%);
  border-radius: 50%;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}

